<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
      <div class="header-body">
      </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
          <div class="d-flex justify-content-between">
              <h4 class="card-title text-uppercase text-muted mb-0">Danh sách hoá đơn</h4>

          </div>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                      <tr>
                          <th scope="col">
                              <input type="text" [(ngModel)]="keyword" (ngModelChange)="changeValueByKeyword(keyword)"
                                  class="form-control" name="code_keyword">
                          </th>
                          <th scope="col">Từ ngày</th>
                          <th scope="col">
                              <input type="date" [(ngModel)]="startDate"
                                  (ngModelChange)="changeValueByStartDate(startDate)" class="form-control"
                                  name="code_searchStartDate">
                          </th>
                          <th scope="col">Đến ngày</th>
                          <th scope="col">
                              <input type="date" [(ngModel)]="endDate"
                                  (ngModelChange)="changeValueByEndDate(endDate)" class="form-control"
                                  name="code_searchendDate">
                          </th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
              </table>
          </div>
      </div>


      <div class="card-body">
          <div class="table-responsive">
              <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                      <tr>
                          <th scope="col">Tên khách hàng</th>
                          <th scope="col">Tổng tiền</th>
                          <th scope="col">Trạng thái</th>
                          <th scope="col">Nhân viên tạo</th>
                          <th scope="col">Ngày tạo</th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody *ngFor="let billDetail of order; let i = index">
                      <tr>
                          <th (click)="clickRow(billDetail.id)" scope="row">
                              <div class="media align-items-center">
                                  <div *ngIf="order[i].customer.first_name == null && order[i].customer.last_name ==null; else elseBlock">
                                    Khách lẻ
                                  </div>
                                  <ng-template #elseBlock>
                                  <div  class="media-body">
                                      <span class="mb-0 text-sm">{{billDetail.customer.first_name}} {{billDetail.customer.last_name}}</span>
                                  </div>
                                </ng-template>
                              </div>
                          </th>
                          <td (click)="clickRow(billDetail.id)">
                              {{billDetail.totalRecord}} / VNĐ
                          </td>
                          <td (click)="clickRow(billDetail.id)">
                              <span class="badge badge-dot mr-4">
                                  <i class="bg-success"></i> {{billDetail.billStatus}}
                              </span>
                          </td>
                          <td (click)="clickRow(billDetail.id)">
                              <div class="avatar-group">
                                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                                      data-original-title="Ryan Tompson">
                                      <div>
                                          <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg"
                                              class="rounded-circle">
                                      </div>
                                  </a>
                                  <span
                                      class="mr-2">{{billDetail.orderStaff.fullname}}-{{billDetail.orderStaff.id}}</span>
                              </div>

                          </td>
                          <td (click)="clickRow(billDetail.id)">
                              <span class="badge badge-dot mr-4">
                                  <i class="bg-success"></i>{{billDetail.orderDate | date: "dd/MM/yyyy"}}
                              </span>
                          </td>
                          <td class="text-right">

                            <button type="button" class="btn btn-icon btn-sm  btn-danger" (click)="DeleteBill(billDetail.id)">
                              <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                              </button>
                        </td>
                          <!-- <td class="text-right">
                              <div ngbDropdown placement="bottom-right">
                                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                      <i class="fas fa-ellipsis-v"></i>
                                  </a>
                                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow ">
                                      <a class="dropdown-item" routerLink="/OrderDetail/{{billDetail.id}}">Bill
                                          Details</a>
                                      <a class="dropdown-item" (click)="DeleteBill(billDetail.id)">Remove Bill</a>
                                  </div>
                              </div>
                          </td> -->
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>
