<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Doanh thu</h5>
                  <span class="h2 font-weight-bold mb-0">{{profitLastMonth}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">3 tháng gần đây</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Số hóa đơn</h5>
                  <span class="h2 font-weight-bold mb-0">{{someBill}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">3 tháng gần đây</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Tiêu thụ</h5>
                  <span class=" font-weight-bold mb-0">{{TopProduct}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Bán chạy nhất</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Tiêu thụ</h5>
                  <span class="font-weight-bold mb-0">{{Descen}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Bán ít nhất</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">

  <!-- Revenus -->

  <div class="card shadow mb-4">
    <div class="row col-12 x_panel">
      <div class="col-4">
        <div class="row align-items-center">
          <h4>Tóm tắt giao dịch</h4>
          <h5>&nbsp;tiến độ hàng tuần</h5>
        </div>
      </div>
      <div class="col-8">
        <div class="x_title">
          <div class="filter">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <form>
                    <div class="form-group">

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="float-right">
      <input type="text" name="daterange" ngxDaterangepickerMd [(ngModel)]="selected"
        (ngModelChange)="getSelectDate(selected)" [showCustomRangeLabel]="false" [alwaysShowCalendars]="true"
        [linkedCalendars]="false" [ranges]="ranges" [keepCalendarOpeningWithRange]="true" class="form-control"
        />

    </div>
    <div style="width: 100%; height: auto">
      <canvas id="myChartWeek"></canvas>
    </div>
    <!-- <ejs-chart></ejs-chart> -->
  </div>
  <div class="card shadow mb-4">
    <div class="row col-12 x_panel">
      <div class="col-4">
        <div class="row align-items-center">
          <h4>Thống kê cho cửa hàng</h4>
        </div>
      </div>
      <div class="col-8">
        <div class="x_title">
          <div class="filter">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <form>
                    <div class="form-group">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%; height: auto">
      <canvas id="myChartForStore"></canvas>
    </div>
    <!-- <ejs-chart></ejs-chart> -->
  </div>

  <div class="card shadow mb-4">
    <div class="row col-12">
      <div class="col-6">
        <span>
          <h4>Biểu đồ thống kê theo năm</h4>
        </span>
      </div>
    </div>
    <div class="row col-12">
      <div class="col-8">
        <div style="width: 100%; height: auto">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>
